.container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

rect {
  stroke: rgb(31, 29, 29);
  stroke-width: 0.25px;
  border: 3px solid rgb(39, 46, 105);
}

rect:hover {
  fill: rgb(214, 206, 205);
  stroke: rgb(10, 10, 10);
  stroke-width: 0.25px;
}

svg {
  padding-top: 20px;
  margin: 5px;
}

h2 {
  color: rgb(51, 83, 131);
  padding-top: 10px;
  margin: 5px;
}

h4 {
  color: rgb(51, 83, 131);
  text-align: center;
  padding-top: 10px;
  margin: 5px;
}

text {
  display: inline-block;
  word-wrap: break-word;
  overflow-x: scroll;
  font-size: 9px;
}

div.tooltip {
  background-color: rgb(183, 207, 200);
  position: fixed;
  border-radius: 5px;
  padding: 5px;
  font-size: 9px;
}
